@font-face {
    font-family: 'DMSans';
    src: local('DMSans-Regular'),
    url('fonts/DMSans-Regular.ttf');
}
@font-face {
    font-family: 'Satoshi';
    src: local('Satoshi-Regular'),
    url('fonts/Satoshi-Regular.otf');
    
}